title: Mijn Persoonlijke Blog
markdown: kramdown
url: "https://www.persoonlijkeblog.nl"
# baseurl: "/jekyll-theme-material-you"

# for atom feed
author:
  name: Tristan
  email: persoonlijkeblog@privemail.xyz

plugins:
  - jemoji
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-admin
  - jekyll-feed

collections_dir: all_collections
collections:
  posts:
    output: true

defaults:
  - scope:
      path: "_posts"
    values:
      layout: "post"
      permalink: /posts/:title/
exclude: ["sitemap.xml", "feed.xml", "LICENSE", "README.md"]
